body{
    width: 100%;
    height: 100vh;
          background: linear-gradient(
            180deg,
            hsl(224deg 31% 90%) 0%,
            hsl(224deg 28% 84%) 18%,
            hsl(224deg 26% 77%) 26%,
            hsl(224deg 23% 71%) 33%,
            hsl(224deg 21% 64%) 39%,
            hsl(225deg 18% 57%) 44%,
            hsl(224deg 15% 51%) 50%,
            hsl(223deg 13% 44%) 56%,
            hsl(224deg 10% 37%) 61%,
            hsl(225deg 8% 31%) 67%,
            hsl(230deg 5% 24%) 74%,
            hsl(240deg 2% 18%) 82%,
            hsl(0deg 0% 11%) 100%
          );
          display: flex;
          align-items: center;
          justify-content: center;
}

.container__crear-producto{
    box-shadow: 0px  0px 10px#800080;
    border-radius: 5px;
    width: 30rem;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo__producto{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 0px 0px 2px #800080;
}

.container__padre-inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputBtn{
    outline: none;
    text-indent: 5px;
    border: none;
    border-bottom: 1.5px solid #adb5bd;
    margin-bottom: .5rem ;
    border-radius: 5px;
    background: transparent;
    height: 1.2rem;
    transition: all 1s;
    width: 25rem;
}

.inputBtn:focus{
    border-bottom: 1.5px solid #800080;
}

.inputBtn::placeholder{
    color: #ffffff;
}

.inputBtn::placeholder:focus{
    color: #000000;
}

.btn-crear{
    background: #000000;
    color: #ffffff;
    border: none;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 5rem;
    transition: all 0.30s;
    cursor: pointer;
}

.btn-crear:hover{
    border: 1px solid #800080;
}

.btn-crear:active{
    border: 1px solid transparent;
}

